<h1>Update Your Article Here</h1>

<form action="/articles/<%= @article.id %>" method="POST">
	<input type="hidden" name="_method" value="PATCH">
	<textarea cols="25" name="article[article_title]" placeholder="Title:"><%= @article.article_title %></textarea> 
	<br>
	<textarea cols="25" rows="10" name="article[article_body]" placeholder="Body:"><%= @article.article_body %></textarea>
	<input type="submit" value="Update Article">
</form>

<%= erb :'partials/_errors' %>