<header>
	<a href="/articles/new">Create a New Article</a>
</header>
<h1>hello</h1>
<% if @articles %>
	<ol>
		<% @articles.each do |article| %>
			<li>
				<a href="/articles/<%= article.id %>"><%= article.article_title %></a> 
			</li>
		<% end %>
	</ol>
<% else %>
	<%= redirect '/' %>
<% end %>