<!-- when editing an existing thing -->
<!-- populate the feilds with existing attributes... :-) -->
<h1>Create a New Article</h1>
<form action="/articles" method="POST">
	<textarea cols="25" name="article[article_title]" placeholder="Title:"></textarea> 
	<br>
	<textarea cols="25" rows="10" name="article[article_body]" placeholder="Body:"></textarea>
	<input type="submit"  value="Create Article">
</form>

<%= erb :'partials/_errors' %>