<h1>Add a New Pet</h1>
<form action="/pets" method="POST">
	<input type="text" name="pet[name]" placeholder="Name">
	<br>
	<input type="text" name="pet[species]" placeholder="Species">
	<input type="submit" value="Create Pet">
</form>

<%= erb :'partials/_errors' %>
