<!-- <h1>Add Family Members Here</h1>
 -->
<!-- <form action="/users/<%= current_user.id %>/relationships/new" method="POST">
	<input type="text" name="relationship[kind]" placeholder="Relationship:">
	<input type="hidden" name="relationship[user_id]">
	<input type="text" name="relationship[relative_id]" placeholder="Relative:">
	<input type="submit" value="Add Relative">
	
</form> -->