<h1>Welcome To Virtual Gringotts, <%= current_user.first_name %> </h1>
<a href="/gringotts_accounts/<%= @gringotts_account.id %>/edit">Update Your Gringotts Account</a>

<table border="1">
	<tr>
		<th> Balance </th>
		<th> Period Interest Rate </th>
	</tr>
	<tr>
		<td> <%= @gringotts_account.balance %> </td>
		<td> <%= @gringotts_account.interest_rate * 100  %>% </td>
	</tr>
</table>