<% if current_user %>
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Logout">
  </form>
	<% if @article != nil %>
		<a href="/users/<%=	 @article.user_id %>">Profile Page</a>
	<% end %>
<% else %>
  <a href="/sessions/new">Login</a>
  <a href="/users/new">Register</a>
<% end %>
